
  <div class="row blogs_post">
<% @blogs.each do |blog| %>
  <div class="col-md-12" style="height:100%; border-right-color:black">
    <h2><%= blog.title %></h2>
    <p class="text-align:left"><%= truncate blog.blog, length: 5000 %></p>
    <a href="/blogs/<%= blog.id %>">See More</a>
  </div>
  <% end %>
</div>
  <%= will_paginate @blogs %>
