<div class="wrapper">
  <div class="main">
    <div class="header">
      <h1>Mohammed Shariff</h1>
      <h2>Full Stack Web Developer</h2>
      <div class="btns">
      </div>
    </div>

    <div class="page-container">
      <div class="sidemenu">
        <nav class="left">
          <h2 style="font-size:35px;">My Projects</h2>
        </nav>
        <nav class="right">
          <% @projects.each do |project| %>
          <a href="<%=project.link%>"><%=project.title%></a>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</div>
