<h1>Projects</h1>
<% if user_signed_in? %>
<p>Hello, <%= current_user.name %> <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
<br>
<%  end %>

  <ul>
    <% @projects.each do |project| %>
      <li><%=link_to project.title, project_path(project)%></li>
    <% end %>
  </ul>

 <button class="btn btn-default"><%= link_to "New Project", new_project_path %></button>
