
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
 #wrapper {
     padding-right: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled {
     padding-left: 250px;
 }

 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     right: 0px;
     width: 0;
     height: 100%;
     margin-left: -250px;
     overflow-y: auto;
     background: rgba(115, 104, 104, 0.4);
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
     width: 250px;
 }

 #page-content-wrapper {
     width: 100%;
     text-align: center;
     align-items: center;
     padding: 10px;
 }

 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: 250px;
 }

 /* Sidebar Styles */

 .sidebar-nav {
     position: absolute;
     top: 0;
     width: 250px;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .sidebar-nav li {
     font-size: 20px;
     text-indent: 30px;
     line-height: 40px;
     margin-right: -200px;
     color: white;
 }

 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: white;
 }

 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: rgba(255,255,255,0.2);
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
     text-decoration: none;
     color: white;
 }

 .sidebar-nav > .sidebar-brand {
     height: 65px;
     font-size: 20px;
     line-height: 60px;
     color: white;
 }

 .sidebar-nav > .sidebar-brand a {
     color: white;
 }

 .sidebar-nav > .sidebar-brand a:hover {
     color: #fff;
     background: none;
 }

 @media(min-width:768px) {
     #wrapper {
         padding-left: 0;
     }
     #wrapper.toggled {
         padding-left: 250px;
     }

     #sidebar-wrapper {
         width: 0;
     }

     #wrapper.toggled #sidebar-wrapper {
         width: 450px;
     }

     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }

     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
 }
body.sm-activate {
  overflow: hidden;
}

.sm-menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 1024px;
  height: 600px;
  left: 50%;
  top: 150%;
  margin-left: -512px;
  margin-top: -300px;
  z-index: 101;
}

.sm-menu.animated {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sm-menu.sm-bottom-left {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 150%;
  left: -150%;
}

.sm-menu.sm-bottom-right {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 150%;
  left: 150%;
}

.sm-menu.sm-top {
  top: -150%;
}

.sm-menu.sm-top-left {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -150%;
  left: -150%;
}

.sm-menu.sm-top-right {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -150%;
  left: 150%;
}

.sm-menu.sm-left {
  top: 50%;
  left: -150%;
}

.sm-menu.sm-right {
  top: 50%;
  left: 150%;
}

.sm-menu.re-rotate {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.sm-menu.ff-hack {
  opacity: 1;
  visibility: visible;
  top: 50%;
  left: 50%;
}

.sm-menu .sm-nav {
  -webkit-transform: translate3d(50%, 0, 0) scale(0.002, 1);
  -moz-transform: translate3d(50%, 0, 0) scale(0.002, 1);
  -ms-transform: translate3d(50%, 0, 0) scale(0.002, 1);
  -o-transform: translate3d(50%, 0, 0) scale(0.002, 1);
  transform: translate3d(50%, 0, 0) scale(0.002, 1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #85B4CC;
}

.sm-menu.sm-horizontal .sm-nav {
  -webkit-transform: translate3d(25%, 0, 0) scale(0.5, 0.002);
  -moz-transform: translate3d(25%, 0, 0) scale(0.5, 0.002);
  -ms-transform: translate3d(25%, 0, 0) scale(0.5, 0.002);
  -o-transform: translate3d(25%, 0, 0) scale(0.5, 0.002);
}

.sm-menu.sm-horizontal .sm-nav:nth-child(2) {
  -webkit-transform: translate3d(-25%, 0, 0) scaleX(0.5) scaleY(0.002);
  -moz-transform: translate3d(-25%, 0, 0) scaleX(0.5) scaleY(0.002);
  -ms-transform: translate3d(-25%, 0, 0) scaleX(0.5) scaleY(0.002);
  -o-transform: translate3d(-25%, 0, 0) scaleX(0.5) scaleY(0.002);
  transform: translate3d(-25%, 0, 0) scaleX(0.5) scaleY(0.002);
  right: 0;
}

.sm-menu .sm-nav .nav-inner {
  display: none;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  vertical-align: middle;
  white-space: normal;
  text-align: left;
}

.sm-menu .sm-nav .nav-inner.animated {
  display: inline-block;
}

.sm-menu .sm-nav:nth-child(2) {
  -webkit-transform: translate3d(-50%, 0, 0) scaleX(0.002);
  -moz-transform: translate3d(-50%, 0, 0) scaleX(0.002);
  -ms-transform: translate3d(-50%, 0, 0) scaleX(0.002);
  -o-transform: translate3d(-50%, 0, 0) scaleX(0.002);
  transform: translate3d(-50%, 0, 0) scaleX(0.002);
  right: 0;
}

.sm-menu .sm-nav.animated, .sm-menu.sm-horizontal .sm-nav.animated {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.sm-menu .sm-nav:after {
  content: "";
  position: relative;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.sm-menu .sm-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 100;
  line-height: 100%;
}

.sm-menu .sm-close:hover {
  color: black
}

.sm-menu .sm-nav .nav-inner>a {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 32px;
  font-weight: 300;
  display: block;
  color: white;
}

.sm-menu .sm-nav .nav-inner>a:hover {
  color: #2E3B4E;
}

.sm-menu .sm-close {
  color: white;
}

.sm-overlay {
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .sm-button {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  z-index: 102;
}

body.sm-activate .sm-overlay {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes flyInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes flyInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes flyInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes flyInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.flyInRight {
  -webkit-animation-name: flyInRight;
  animation-name: flyInRight;
}

.flyInLeft {
  -webkit-animation-name: flyInLeft;
  animation-name: flyInLeft;
}

html {
  height: 100%;
}

body {
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
}
.page1{
  background-image: url('https://images.pexels.com/photos/18105/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
}
.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
  float: left;
}

h1 {
  margin-top: 100px;
  color: #d5dbe5;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 70px;
}

h2 {
  letter-spacing: 1px;
  color: #6b6a6a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  color: #00B0FF;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: fixed;
  top: 62px;
  left: 25px;
}

pre {
  margin: 80px auto;
}

pre code {
  padding: 35px;
  border-radius: 5px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) 5px solid;
  max-width: 500px;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  right: -1%
}

.main h1 {
  padding: 20px 50px 10px;
  float: left;
  width: 100%;
  font-size: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 25px;
  font-family: 'open sans';
  text-transform: uppercase;
}

.main h1.demo1 {
  background: #1ABC9C;
}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}

.reload, .btn {
  display: inline-block;
  border: 4px solid #A2261E;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #CC3126;
  display: inline-block;
  line-height: 100%;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  width: 100px;
  line-height: 140%;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: open sans;
}

.reload:hover {
  background: #A2261E;
}

.btn {
  width: 230px;
  color: #fff;
  border: none;
  margin-left: 10px;
  background: #2186B8;
}

.clear {
  width: auto;
}

.btn:hover, .btn:hover {
  background: #1494D3;
}

.btns {
  width: 410px;
  margin: 50px auto;
}

.credit {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 100;
  text-transform: capitalize;
  font-style: italic;
  font-size: 14px;
  margin: 0 0 60px 0;
  float: left;
  width: 100%;
  letter-spacing: 1px;
}

.credit a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #86B4CC;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.back:hover {
  background: rgba(255, 255, 255, 0);
}

body .sm-button {
  position: relative;
  top: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
  z-index: 10;
}

body .sm-button:hover {

}

.page-container {
  min-height: 300px;
}

.sm-nav:nth-child(2) {
  background: rgba(0, 0, 0, 0.8);
}

.sm-nav:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
}

.sm-menu .sm-nav:nth-child(2) .nav-inner>a {
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.circular-image {
  border-radius: 60%;
  height: 90px;
}
.projects{
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 10px;
    margin-bottom: 10px;

    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 20px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  .opaque-navbar {
    background-color: black;
    height: 10px;
    transition: background-color .5s ease 0s;
}

}
.newProject {
  padding: 20%
}
.projectImage{
  border-width: 1px;
}
